@model SpreaderWeb.Models.Agents

@{
    ViewData["Title"] = "Delete Agent";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Netname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Netname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpucount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpucount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalmemory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalmemory)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        <a asp-action="Index">Back to List</a>
    </form>
</div>
