@model IEnumerable<SpreaderWeb.Models.AgentsLogView>

@{
    ViewData["Title"] = "Recent Log Entries";
}

<h1>Recent Log Entries</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentsLogCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogTypeDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    @Html.DisplayFor(x => item)
}
    </tbody>
</table>
